@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  font-weight: 600;
}

a{
  text-decoration: underline;
  color: #c5c5c7;
}

nav {
  font-size: 1rem;
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  justify-content: center;
  background-color: #db354b;
  color: #fff;
}

.card { 
  display: flex;
  margin: 3em 0 2em 3em;
  gap: 30px;
}

.wrap {
  color:  #808080;;

  display: flex;
  gap: 0.5rem;
}
.pin img { 
  width:20px ;
}

.card__img { 
  max-width: 20em;
  height: 28em;
  border-radius: 1rem;
  object-fit: cover;
}

.card__info {
  margin: 2em 1em;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
}


.country {
  letter-spacing: 0.4rem;
}
.date { 
  line-height: 3rem;
}
.description{
  font-weight: 300;
  max-width: 50ch;
}

@media (max-width:660px) {
  .card{
    display: block;
    margin: 1em auto;
  }
}